<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="/img/weather-icon.png">
        <title>404</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>