<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="/img/weather-icon.png">
        <title>About</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This app is created by me. It uses data from Mapbox and Weatherstack API.</p>
            <img src="/img/weather-img.jpg" alt="my image" class="portrait">
        </div>
        {{>footer}}
    </body>
</html>